      <section class="newsletter accent-bg">
        <div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
          <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-left">
              <h2 class="page-title">Suscríbete a nuestro boletín</h2>
              <p>Bemporibus autem quibusdam et aut officiis debitis autem quibusdam et aut officiis debitis.</p>
            </div>
            <div class="col-md-4">
              <form class="newsletter-form">
                <input type="text" name="email" id="email" placeholder="Your email address">
              </form>
            </div>
            <div class="col-md-3">
              <a href="#" class="btn btn-primary">Únete ahora</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>


<footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <ul class="footer-navigation">
                <li class="active"><a href="./index.html">Inicio</a></li>
                <li><%=link_to 'Sobre Nosotros', about_path %></li>
                <li> <%=link_to 'Tienda', products_path %></li>

                <li>
            <%= link_to new_contact_path do  %>
              <i class="fa fa-paper-plane"></i> Contáctenos
            <% end %>
          </li>

              </ul>
              <ul class="accepted-payments">
                <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                <li><a href="#"><i class="fa fa-paypal"></i></a></li>
                <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
                <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
              </ul>
              <div class="copyright">
                <p>Copyright © 2019 Rv10. Created by kay</p>
              </div>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </footer>
