
<!--
      <section class="newsletter accent-bg">
        <div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
          <#%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-left">
              <h2 class="page-title">Suscríbete a nuestro boletín</h2>
              <p>Bemporibus autem quibusdam et aut officiis debitis autem quibusdam et aut officiis debitis.</p>
            </div>
            <div class="col-md-4">
              <form class="newsletter-form">
                <input type="text" name="email" id="email" placeholder="Your email address">
              </form>
            </div>
            <div class="col-md-3">
              <a href="#" class="btn btn-primary">Únete ahora</a>
            </div>
          </div>
        </div>
      </section> -->

<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 directions">
            <h6>Encuéntranos en</h6>
            <p class="text-justify">
              <p>(+591) 755-630-82</p>
              <p>Atencion de 10:00 a 20h00</p>
              <p>Rv10 Showroom</p>
              <p>Calle 21 de Mayo entre Busch y Canada Strongest</p>
          </div>


<style>
  @media screen and (max-width: 768px) {
  .directions{
    display:none;
  }
}
</style>
          <div class="col-xs-6 col-md-3">
            <h6>Atención al cliente</h6>
            <ul class="footer-links">
              <li><a href="/termsandconditions">Terminos & Condiciones</a></li>
              <li><a href="/envios">Envios</a></li>
              <li><a href="/pagos">Pagos</a></li>
              <li><a href="/devoluciones">Devoluciones</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Enlaces rápidos</h6>
            <ul class="footer-links">
                <li class="active"><a href="/products">Todos los productos</a></li>
                <li><%=link_to 'Sobre Nosotros', about_path %></li>
                <li>
            <%= link_to new_contact_path do  %>
              <i class="fa fa-paper-plane"></i> Contáctenos
            <% end %>
          </li>

            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
                <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="copyright-text" style="display:inline;">Copyright &copy; 2019 All Rights Reserved by <a href="#"><b style="color:white;">Rv10</b></a>.
             <p class="copyright-text" style="display:inline;">Created by <a href="#"><b style="color:white;">Kay</b></a>.
            </p>
          </div>
        </div>
      </div>
</footer>

