<section class="products-grid" style="
    padding-top: 24px;
">
        <div class="container">
          <div class="row products-container">
          <% @products.each do |product| %>
          <% if product.id <= 3 %>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url(<%= product.photo %>);">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3><%= product.title %></h3>
                    <p class="product-price"><%= number_to_currency_bo product.price %></p>
                  </div>
                   <p class="btn btn-primary"><%= link_to product.title, product %></p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>


