<section>
<h2 class="page-title text-center" style="padding-bottom:-50px;">Destacados</h2>
<hr>
   <div class="row">
     <% cache do %>
      <% @products.each do |product| %>
      <% if product.id <= 4 %>
      <div class="col-md-3">
         <div class="product-image2">
            <a href="/women"><%= cl_image_tag product.photo %></a>
            </div>
            <% end %>
         </div>
         </div>
       </div>
     </div>
      <% end %>
      </div>
    </div>
   </div>
   <% end %>
</section>
