<div class="container-fluid headbanner">
   <h6 class="text-sm mb-1"><i class="fas fa-shipping-fast"></i>&nbsp;&nbsp;Envios Gratis a todo Bolivia</h6>
</div>
<div class="container-fluid ultra">
   <ul>
      <br>
      <% if @cart.total_price > 0 %>
      <%= link_to @cart, class: 'menu-cart' do  %>
      <i class="fa fa-shopping-cart"></i>
      <%= number_to_currency_bo @cart.total_price %>
      <% end %>
      <% else %>
      <a href="#" class="menu-cart"><i class="fa fa-shopping-cart"></i> Bs.0.00</a>
      <% end %>
      <span class="ultrac">
      <a href="/search"><i class="fas fa-search ultrac"></i>&nbsp;Buscar</a>
      </span>

      <span class="ultrab">
      <a href="/contacts/new"><i class="fas fa-user-friends"></i></i>&nbsp;Servicio al cliente</a>
      <a href="/search"><i class="fas fa-search"></i>&nbsp;Busqueda Avanzada</a>
      <a href="/instarv10"><i class="fab fa-instagram"></i></i>&nbsp;#Rv10 Instragram</a>
      </span>
   </ul>
</div>
<header role="banner">
   <a href="/"><img id="logo-main" src="https://res.cloudinary.com/websy/image/upload/v1568494429/rv10.png" width="90" alt="Logo Thing main logo"></a>
   <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-left collapsed" data-toggle="collapse" data-target="#navbar-primary-collapse">

            <span class="navbar-toggle-label" style="padding-bottom:40%; font-size:7px;">Menu</span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
         <div class="collapse navbar-collapse" id="navbar-primary-collapse">
            <ul class="nav navbar-nav">
               <li class=""><a href="/women">Mujer</a></li>
               <li><a href="/kids">Ninos</a></li>
               <li><a href="/men">Hombre</a></li>
               <li><a href="/products">Todos</a></li>
               <li><a href="/instarv10">#rv10.showroom</a></li>
            </ul>
         </div>
      </div>
   </nav>
</header>

<style>
  .navbar-toggle{
    margin-top: -42px;
    background-color: #ad2c10;
    color:white;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
</style>
