<h1 class="text-center"> Tu Pedido </h1>

<br>

<%= render 'orders/form' %>

<br>



<!--Script for Braintree -->
<script>
braintree.setup(<%= @client_token %>, 'dropin', {
  container: 'payment-form'
}); </script>
