



  <% @orders.each do |product| %>
        <div class="col-md-3">

            <div class="product-grid2">
                <div class="product-image2">
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= @orders.name %></a></h3>

                     <% end %>
