  <header class="secondary">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
         <%= image_tag('coverbo.png', class: 'background-image', alt:'Background') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 text-left">

            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>

      <section class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="thumbnail with-info">
                <%= image_tag('about.jpg', alt:'About') %>
                <div class="info">
                  <div class="align-vertical">
                    <span>Our</span>
                    <span>Office</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h3>Our Story</h3>
              <p class="subtitle">Beyond a Store</p>
            </div>
            <div class="col-md-8">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in dictum tortor. Mauris nisl risus, semper eget maximus in, porttitor eu libero. Curabitur urna dolor, fringilla nec gravida id, scelerisque in ex. Vivamus ac vulputate turpis. Nunc eu diam id risus feugiat lobortis. Aliquam nec sollicitudin turpis. Praesent sed interdum massa.</p>

              <p>Fusce mattis nunc lacus, vulputate facilisis dui efficitur ut. Vestibulum sit amet metus euismod, condimentum lectus id, ultrices sem. Morbi in erat malesuada, sollicitudin massa at, tristique nisl. Maecenas id eros scelerisque, vulputate tortor quis, efficitur arcu. Aenean lacus mi, porttitor quis dapibus a, tincidunt vitae arcu. Etiam dolor sem, luctus id risus vel, ultricies dignissim lacus. </p>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
