<%= render "shared/navbar" %>
<section class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="thumbnail with-info">
               <%= image_tag('about.png', alt:'About') %>
               <div class="info">
                  <div class="align-vertical">
                     <span>LA</span>
                     <span>Tienda!</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <h3>Nuestra Historia</h3>
            <p class="subtitle">Mas que una tienda</p>
         </div>
         <div class="col-md-8">
            <p>RV10 es  ropa moderna, urbana  que lleva instantáneamente un estilo de verte genial y llamar la atención donde quiera que vayas. Sigue tendencias y marca la diferencia en cuanto a calidad y originalidad en cada una de sus prendas de la marca . </p>
            <br>
            <p><b>SOBRE NOSOTROS</b></p>
            <p>El sueño y las ganas de trabajar juntos como madre e  hijos llevó al nacimiento de la marca Rv10 y la apertura del showroom Rv10 como tienda en físico)
               Rodrigo Vaca Diez Weidling apostó en su momento en televisión e ideo tener su propia marca de ropa deportiva inicialmente y asociándose con su mamá Elizabeth Weidling nace Rv10, quien apoya incondicionalmente el emprendimiento y hace realidad esta gran marca.
            </p>
            <p>Introducirnos como marca nueva en el mercado no nos fue fácil pero logramos captar fieles clientes que reconocen y valoran nuestras prendas y poco a poco sabemos que RV10 será un orgullo del made in Bolivia y reconocida por la calidad y buenos diseños que logren la definición clara de "URBANWEAR" o ¨StreetStyle¨(proponiendo siempre varios estilos y colores que combinan con tu armario para una moda moderna y sin esfuerzo, tanto en nuestra marca como en marcas internacionales que ofrecemos en nuestro sitio web y showroom santa cruz)
               En meses se extiende a hombres y mujeres. Poco más tarde  a sugerencia y colaboración de  las más peques de la casa  Anahi y Julieta nace AnJu destinada sólo para Teens.
            </p>
         </div>
      </div>
   </div>
</section>

