<%= render "shared/navbar" %>

<br>
<br>


<div class="container">
<h2>CANCELACION DE PEDIDOS</h2>

<p>Los pedidos podrán cancelarse hasta 24horas antes de entregar el pedido. Pasado ese plazo, Rv10.com podrá buscar la mejor solución posible en pos de la satisfacción del consumidor, sin que esto sea obligatorio para ella. El consumidor deberá comunicar fehacientemente dicha revocación a Rv10.com. La cancelación de un pedido da derecho a la reintegración total del monto del pedido.</p>

<br>
<br>

<h2>DERECHOS DE REVOCACION</h2>

<p>Rv10.com, así como aquellos terceros que utilizan el portal para comercializar productos, ofrecen a sus clientes la posibilidad de retractarse de la compra durante los primeros 2 días naturales después de la entrega del producto.  Los retractos antes mencionados deberán ser solicitados por medio de la página Web, enviando un correo electrónico a la siguiente dirección servicioalcliente@rv10.com o contáctanos directamente via telefónica.</p>

<p>La devolucion tendra que efectuarse directamente en la tienda RV10 SHOWROOM. Calle 21 de Mayo entre Busch y Canada Strongest, Santa Cruz de la Sierra, Bolivia.  Los envíos desde otra ciudad será a cargo del cliente y el plazo para reclamaciones son quince días hábiles a partir de la notificación por nuestra parte.</p>

<p>Para poder ejercer el derecho de retracto el consumidor deberá cumplir con unas condiciones generales. Cuando un producto tenga unas condiciones específicas para poder ejercer el derecho de retracto, esto será especificado en las características del producto.</p>

<br>
<br>

<h2>CONDICIONES GENERALES PARA UN RETRACTO:</h2>
<br>
<ul>a) El producto no debe estar averiado o deteriorado por acciones correspondientes a los clientes.</ul>
<ul>b) El producto debe tener etiquetas, factura de venta, accesorios y empaques originales (incluyendo manuales, guías de uso, certificados de garantía, etc.).</ul>
<ul>c) El producto no debe mostrar señales de uso, suciedad o desgaste.</ul>
<ul>d) El producto no debe tener más de DOS (2) días naturales de entregado.</ul>
<ul>e) Debes enviar el producto que quieras devolver o cambiar a: Calle 21 de Mayo entre Busch y Canada Strongest, Santa Cruz de la Sierra, Bolivia. </ul>
<ul>f) Junto con tus datos, los datos de tu pedido y una breve explicación de lo que te ha pasado con él.</ul>

<br>
<br>

<h2>CONDICIONES DE REEMBOLSO DEL RETRACTO:</h2>
<p>Si el producto fue pagado con tarjeta de crédito o debito, se hará reversión a su tarjeta de crédito o se reembolsará el dinero a través de transacion bancaria a la cuenta bancaria proporcionada por el cliente. Estos tiempos de reversión dependen directamente de la entidad bancaria del consumidor. Solo cumpliendo estas condiciones el cliente recibirá la totalidad del dinero del producto</p>

<br>
<br>

<h2>POLITICA DE CAMBIOS</h2>

<p>Los cambios podrán hacerse por un producto de igual o mayor valor. En caso de mayor valor, deberán abonar la diferencia, en caso de menor valor se emitirá un VALE por la diferencia.</p>

<p>En caso de no disponer de stock del tallaje deseado se emitirá un VALE, si no es posible conseguir la talla.</p>

<p>Es indispensable que los productos estén en su embalaje original y en las mismas condiciones en que te los enviamos. De no ser así (en caso de que recibamos el producto sucio, dañado, usado... ) no se realizará ningún VALE del producto, siendo la única solución posible un nuevo envío de la misma mercancía. El nuevo envío será a cargo del cliente y el plazo para reclamaciones son quince días hábiles a partir de la notificación por nuestra parte.</p>

<br>
<br>
</div>

<style>

  h2{
  color: #c11111;
  }
  </style>
