<%= render "shared/navbar" %>
<br>
<br>
<div class="container">
<h2>Envios</h2>

<p>Rv10 hace envios a todo Bolivia, </p>

<h2>Envios en Santa Cruz</h2>

<p>Los envios en Santa Cruz de La Sierra.......</p>

<h2> Envios a otras ciudades de Bolivia</h2>

<p> Los envios a otras ciudades de Bolivia seran enviados....</p>
</div>

<br>
<br>
<style>

  h2{
  color: #c11111;
  }
  </style>
