<%= render "shared/navbar" %>
<br>
<br>
<div class="container">
<h2>Envios</h2>

<p>Rv10 hace envios a todo Bolivia, </p>

<h2>Envios en Santa Cruz</h2>

<p>Los pedidos en Santa Cruz pueden ser enviados una vez hecha y verificada la transacción. Las entregas serán coordinadas con el cliente via telefonica o whatsapp y podran ser enviadas el dia siguiente una vez verificada la transacción. </p>

<h2> Envios a otras ciudades de Bolivia</h2>

<p> Los envíos a otras ciudades de Bolivia se realizan una vez hecha y verificada la transacción bancaria y se informará por whatsapp el tiempo de espera que no será mayor a 5 días dependiendo de cada caso. </p>
</div>

<br>
<br>

<br>
<style>

  h2{
  color: #c11111;
  }
  </style>
