


  <div class="main-container">
      <header class="fullscreen-element">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('cover2.png', class: 'background-image', alt:'Background') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
                              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1"><h2 style="font-size:100px;">#<%= image_tag "rv10.png", height: 200 %></h2></div>
                  <div class="font-alt mb-30 titan-title-size-4"><p class="description"><b>50%</b> de descuento <b> EN TODO</b> </p></div>
                  <div class="font-alt mb-40 titan-title-size-1"><p class="description">Usa el codigo <b>SUMMER50</b>, Oferta EXPIRA en <p id="demo"> &#9200</p></p></div>
                  <a href="#" class="btn btn-primary">Shop Now</a>
                </div>
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>




      <section>
        <div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-left">
              <h2 class="page-title">AnJu</h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

<br>


      <section>
        <div class="background-image-holder on-page overlay">
           <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7 text-right">
              <h2 class="page-title">Todo lo nuevo<span class="accent-color">.</span></h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>



<div class="display-flex container flex-full-centered more-info-flex description" style="margin:4%;">
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Cambios
</h5>
<h6 class="text-center">
Hasta 20 Días
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Envíos
</h5>
<h6 class="text-center">
A todo el país
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Atención telefónica
</h5>
<h6 class="text-center">
+591 780036423
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
COMPRAS CONTRA-ENTREGA
</h5>
<h6 class="text-center">
Con Mercado Pago
</h6>
</div>
</div>





<style>

  .propa{
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 3px;
  }

/* Caption */
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

</style>


