  <div class="main-container">
      <header class="fullscreen-element">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('coverbo1.png', class: 'background-image', alt:'Background') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
              <h1>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <div class="button-group">
                <a href="#" class="btn btn-primary">Purchase</a>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>

      <div class="action-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="#"><span data-icon="v" class="icon"></span> <span class="text">Entrega rápida</span></a>
            </div>
            <div class="col-sm-4">
              <a href="#"><span data-icon="/" class="icon"></span> <span class="text">Flexible</span></a>
            </div>
            <div class="col-sm-4">
              <a href="#"><span data-icon="7" class="icon"></span> <span class="text">Inovador</span></a>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>

      <section>
        <div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-left">
              <h2 class="page-title">Accesorios</h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>



<br>
<h2 class="page-title text-center" style="padding-bottom:-20px;">Destacados</h2>
<hr>
<%= render "shared/list" %>



      <section>
        <div class="background-image-holder on-page overlay">
           <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7 text-right">
              <h2 class="page-title">Modern style<span class="accent-color">.</span></h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

