
<%= render "shared/navbar" %>



  <div class="main-container">
      <header class="fullscreen-element holder" style="height:800px !important;">
        <div class="background-image-holder " data-stellar-background-ratio="" >
            <%= image_tag('tester5.png', class: 'background-image', alt:'Background') %>


        </div>

        <div class="container align-vertical hero">
          <div class="row">
                              <div class="titan-caption">
                <div class="caption-content">
                   <div class="font-alt mb-30 titan-title-size-4"><p class="description" style="font-size:20px; font-weight:200;">Bienvenidos a nuestra tienda online  </p></div>
                   <br>
                   <br>
                  <div class="font-alt mb-30 titan-title-size-4"><p class="description2" style="font-size:80px; color: #ce1414;"><b>50%</b> de  </p></div>
                  <br>
                  <div class="font-alt mb-40 titan-title-size-1"><p class="description2" style="font-size:80px;  color: #ce1414;">descuento </p></div>
                  <br>
                  <br>
                  <div class="font-alt mb-40 titan-title-size-1"><p class="description2" style="font-size:80px;  color: #ce1414;"><b> EN TODO</b></p></div>
                  <br>
                  <br>
                  <div class="font-alt mb-40 titan-title-size-1"><p class="description" style="font-size:20px; font-weight:200;">Usa el codigo <b style="font-size:15px;">SUMMER50</b>, Oferta EXPIRA en <p id="demo"> &#9200</p></p></div>
                  <a href="/products" class="btn btn-primary">Shop Now</a>
                </div>
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>
      <style>
        @media screen and (max-width: 768px) {
        .description2{
          font-size: 50px !important;
          line-height: 15px;
          color: #ac2217 !important;

        }

        .description{
          display:none;
        }

        .bannerfooter{
          padding-left: 82px !important;
        }
      }

      </style>


<div class="bg-gray-100 position-relative" style="margin-top: 59px;">
      <div class="container py-6">
        <div class="row">
          <div class="col-sm-6 mb-5 mb-sm-0">
            <div class="card card-scale shadow-0 border-0 text-white text-hover-gray-900 overlay-hover-light text-center"><a href="/women"><img src="https://res.cloudinary.com/websy/image/upload/v1568499755/Screen_Shot_2019-09-14_at_6.19.27_PM.png" alt="Card image" class="card-img img-scale"></a>
                  <h2 class="display-3 font-weight-bold mb-0">Mujeres</h2><a href="" class="stretched-link"><span class="sr-only">See </span></a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100 py-3">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-5 mb-sm-0">
            <div class="card card-scale shadow-0 border-0 text-white text-hover-gray-900 overlay-hover-light text-center"><a href="/men"><img src="https://d19m59y37dris4.cloudfront.net/varkala/1-0/img/product/category-men.2afffb95.jpg" alt="Card image" class="card-img img-scale">
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100 py-3">
                  <h2 class="display-3 font-weight-bold mb-0">Hombres</h2><a href="category-full.html" class="stretched-link"><span class="sr-only">See </span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="py-5 py-lg-6 bg-gray-100 bannerfooter" style="padding-top: 6rem !important;">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6 py-4 service-column">
                <use xlink:href="#delivery-time-1"> </use>
              </svg>
              <div class="service-text">
                <h6 class="text-sm mb-1"><i class="fas fa-shipping-fast"></i> Envios Gratis</h6>
                <p class="text-muted font-weight-light text-sm mb-0 bannerlittle">Envios Gratis en todo Bolivia</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 py-4 service-column">
                <use xlink:href="#money-1"> </use>
              </svg>
              <div class="service-text">
                <h6 class="text-sm mb-1"><i class="fas fa-shopping-cart"></i> Pagos Contra-entrega</h6>
                <p class="text-muted font-weight-light text-sm mb-0 bannerlittle">Compra ahora, paga en tu casa</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 py-4 service-column">
                <use xlink:href="#special-price-1"> </use>
              </svg>
              <div class="service-text">
                <h6 class="text-sm mb-1"><i class="far fa-handshake"></i> Los mejores precios</h6>
                <p class="text-muted font-weight-light text-sm mb-0 bannerlittle">Mejores Precios & Calidad</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 py-4 service-column">
                <use xlink:href="#customer-support-1"> </use>
              </svg>
              <div class="service-text">
                <h6 class="text-sm mb-1"><i class="fas fa-headset"></i> 020-800-456-747</h6>
                <p class="text-muted font-weight-light text-sm mb-0 bannerlittle">Atencion de 9:00 a 18h00</p>
              </div>
            </div>
          </div>
        </div>
      </div>



<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe width="853" height="480" src="https://www.youtube.com/embed/9LGWyB3MEcI?controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<!-- <br> -->

<div class="container-fluid px-5px" style="margin-bottom: 59px;">
        <div class="row mx-0">
          <div class="col-md-6 mb-10px px-5px">
            <div class="card border-0 text-white text-center"><a href="/kids"><img src="https://res.cloudinary.com/websy/image/upload/v1559879577/_MG_3461.jpg">
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100 py-3">
                  <h2 class="display-3 font-weight-bold mb-4"><a class="display-3" href="/kids">Vestidos <a><br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-10px px-5px">
            <div class="card border-0 text-white text-center"><a href="/products"><img src="https://res.cloudinary.com/websy/image/upload/v1568170087/47089548_1993752154055081_8896472094452219904_n.jpg" alt="Card image" class="card-img">
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100 py-3">
                 <h2 class="display-3 font-weight-bold mb-4"><a class="display-3" href="/products">New Arrivals <a><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-4 mb-10px px-5px">
            <div class="card border-0 text-center text-white"><a href="/kids"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-5/img/photo/benjamin-voros-260869-unsplash.b4e74271.jpg" alt="Card image" class="card-img"></a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100">
                  <h2 class="display-3 mb-4 font-weight-bold">AnJu</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-10px px-5px">
            <div class="card border-0 text-center text-white"><a href="/products"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-5/img/photo/malvestida-magazine-458585-unsplash.c45232c4.jpg" alt="Card image" class="card-img"></a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100">
                  <h2 class="display-3 mb-4">Accesorios</h2></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-10px px-5px">
            <div class="card border-0 text-center text-dark"><a href="/men?category=Camisa"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-5/img/photo/michael-frattaroli-221247-unsplash.02a2e4d8.jpg" alt="Card image" class="card-img"></a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="w-100">
                  <h2 class="display-3 mb-4">Camisas</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--        <div class="container-fluid" style="margin-top:2%; margin-bottom: 5%;">
        <%= image_tag "aqua3.png" %>
       </div>
     </div> -->


<style>
.display-3{
  color:white;
  font-weight: bold;
  margin-top: -120px;
  font-size: 50px;
  margin-bottom: 90px;
}

.landing-more-info__container{
  background-color: #ce1414;
  color:white;
}
  .propa{
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 3px;
  }
/* Caption */
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#demo {
  color:#ce1414;
  font-weight: bolder;
}
</style>


    <style>

.shadow {
    box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
}

.bannerlittle{
  font-size: 13px;
}
.bannerfooter{
  padding-top: 6rem !important;
    padding-bottom: 6rem;
    background-color: #f8f9fa !important;
    margin-bottom: 40px !important;
        padding-left: 133px;
}
    </style>

