
  <div class="bannerpromo">
<div class="display-flex container flex-full-centered more-info-flex">

<div class="landing-more-info__container col-sm-4">
<div class="vh">
<h5 class="text-center">
50% DE DESCUENTO
</h5>
<h6 class="text-center" style="margin-right:20px;">
Up to 80% OFF Absolutely Everything + Take an EXTRA 10% OFF! Use code: GET10
</h6>
</div>
</div>

<div class="landing-more-info__container col-sm-4">
<div class="vh">
<h5 class="text-center" style="margin-right:10px;">
Envíos A TODO BOLIVIA
</h5>
<h6 class="text-center" style="margin-right:10px;">
Compra ahora. paga después. En tu Casa.<br><br>
</h6>
</div>
</div>


<div class="landing-more-info__container col-sm-4">
<h5 class="text-center">
Nuevas Promociones
</h5>
<h6 class="text-center">
Student Discount - An Extra 20% OFF Everything
</h6>
</div>
</div>
</div>
</div>




  <div class="main-container">
      <header class="fullscreen-element">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('coverbo1.png', class: 'background-image', alt:'Background') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>



      <section>
        <div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-left">
              <h2 class="page-title">AnJu</h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

<br>


      <section>
        <div class="background-image-holder on-page overlay">
           <%= image_tag('', class: 'background-image', alt:'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7 text-right">
              <h2 class="page-title">Todo lo nuevo<span class="accent-color">.</span></h2>
              <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
              <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>


<section class="landing-more-info overflow-hidden">
<div class="display-flex container flex-full-centered more-info-flex">
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Cambios
</h5>
<h6 class="text-center">
Hasta 20 Días
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Envíos
</h5>
<h6 class="text-center">
A todo el país
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
Atención telefónica
</h5>
<h6 class="text-center">
+591 780036423
</h6>
</div>
<div class="landing-more-info__container col-sm-3">
<h5 class="text-center">
COMPRAS CONTRA-ENTREGA
</h5>
<h6 class="text-center">
Con Mercado Pago
</h6>
</div>
</div>
</section>






<style>
  .bannerpromo{
    background-color:black;
    color:white;
  }

  .vh{
     border-right: solid white;

  }
</style>



