<%= render "shared/navbar" %>

<hr>

<h2 class="text-center instatitle"> #RV10.SHOWROOM </h2>
<br>
<p class="text-center col-md-6 col-md-offset-3 insta">Comparte tu estilo personal y descubre cómo llevan otras personas sus estilos favoritos de RV10. Etiqueta tu fotografía con @rv10.showroom o #rv10.showroom para tener la oportunidad de que se publiquen en rv10.com.bo y en nuestras tiendas.</p>

<div class="container">
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-87928f34-e42c-44d4-ad3e-45298800c394"></div>
</div>

<br>
<br>



<style>
  .insta{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5%;
  }

  .instatitle{
    font-weight: bolder;
    margin-top: 2%;
  }
</style>
