<%= render "shared/navbar" %>


<div class="container">
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-87928f34-e42c-44d4-ad3e-45298800c394"></div>
</div>





