<%= render "shared/header" %>
<br>
<br>
<div class="container">
<h2>Metodos de pago</h2>

<p>Rv10 te da la opcion de pagar al recibir el producto en contra entrega o con transferencia banacaria</p>

<h2>Contra entrega En Santa Cruz</h2>

<p>.....................</p>

<h2> Transferencia</h2>

<p> ................</p>
</div>

<br>
<br>
<style>

  h2{
  color: #c11111;
  }
  </style>
