<%= render "shared/navbar" %>
<br>
<br>
<div class="container">
<h2>Medios de pago</h2>

<p>Rv10 te da la opcion de pagar al recibir el producto en contra entrega o con transferencia banacaria</p>

<h2>Contra entrega</h2>

<p>Coloca tu pedido online y págalo cuando te lo entreguemos o cuando lo retires de tienda, usando tu tarjeta de crédito o débito o efectivo.</p>

<p><b>Solo disponible para Santa Cruz.</b></p>

<h2> Transferencia</h2>

<p>rv10.com.bo acepta pagos mediante transferencias bancarias. Utiliza la siguiente información:<p>
<br>
<b>
<p>Nombre de la entidad Bancaria: ----- </p>
<p> Titular de la cuenta: ------ </p>
<p> Tipo de cuenta: Cuenta corriente en Bolivianos </p>
<p> Número de cuenta: -------------- </p>
<p> Código Swift: -------- </p>
<p>Referencia: Nombre y Número de Pedido</p>
<p>Asegúrate de que tu Número de Pedido esté incluido en la transferencia. Tu Número de Referencia es el Número de Pedido obtenido al momento de realizar la compra. Si deseas agilizar la tramitación de tu pedido, envíanos el comprobante de la transferencia al correo electrónico -------- </p>
</b>
<br>
<p>rv10.com.bo debe recibir tu pago dentro de los 3 días calendarios siguientes a tu compra, o tu pedido será cancelado..</p>
</div>
<br>
<br>
<br>
<style>

  h2{
  color: #c11111;
  }
  </style>
