<%= render "shared/navbar" %>
<br>
<br>
<div class="container">
<h2>Medios de pago</h2>

<p>Rv10 te da la opcion de pagar al recibir el producto en contra entrega o con transferencia banacaria</p>

<h2> Transferencia</h2>

<p>rv10.com.bo acepta pagos mediante transferencias bancarias. Utiliza la siguiente información:<p>
<hr>
<b><p>Nombre de la entidad Bancaria:</b> BANCO FASSIL </p>
<b><p> Titular de la cuenta:</b> Rodrigo Vaca Diez </p>
<b><p> Tipo de cuenta:</b> Caja de ahorros </p>
<b><p> Número de cuenta:</b> 3417701 </p>
<b><p>Referencia:</b> Nombre y Número de Pedido</p>
<br>
<b><p>Nombre de la entidad Bancaria:</b> BANCO GANADERO </p>
<b><p> Titular de la cuenta:</b> Elizabeth Weidling </p>
<b><p> Tipo de cuenta:</b> Caja de ahorros </p>
<b><p> Número de cuenta:</b> 1051617826 </p>
<b><p>Referencia:</b> Nombre y Número de Pedido</p>
<br>
<p>rv10.com.bo debe recibir tu pago dentro de los 3 días calendarios siguientes a tu compra, o tu pedido será cancelado..</p>
<br>

<h2>Contra entrega</h2>

<p>Coloca tu pedido online y págalo cuando te lo entreguemos o cuando lo retires de tienda en efectivo.</p>

<p><b>Solo disponible para Santa Cruz.</b></p>
<br>
<br>
<br>
</div>
<style>

  h2{
  color: #c11111;
  }
  </style>
