<%= render "shared/navbar" %>

      <div class="map section" style="margin-top: -60px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="map-wrapper">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.3920591805713!2d-63.18715668530724!3d-17.773261987848386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7e1857ebac5%3A0xc2d73e474e1936!2sRV10%20SHOWROOM!5e0!3m2!1ses-419!2sbo!4v1568599507880!5m2!1ses-419!2sbo" width="1110" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <a href="#" class="directions"><i class="fa fa-location-arrow"></i></a>
              </div>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>

      <section class="contact-info no-padding-top">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Mandanos un Saludo!</h3>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in orci bibendum, malesuada mauris non.</p>
              <p><strong>Phone:</strong> 1 888 356 763<br>
              <strong>Email:</strong> office@chair.com  <br>
              <strong>Address:</strong> 10001, Main Str., New York</p>
            </div>
            <br>
            <div class="col-md-7">
             <%= render 'contacts/form' %>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

