<%= render "shared/header" %>


<div id="confirmation-back">
  <p></p>
</div>

<div id="confirmation-holder">
<h1 class="text-center"> Tu Pedido </h1>
<div class="container formorders">
<%= render 'transfers/form' %>
</div>
</div>







<style>

  .formorders{
    display:flex;
    align-items: center;
  }

#confirmation-back {
    margin-top: -12px;
    background-color: #CE1414;
    height: 225px;
}

#confirmation-holder {
    margin-top: 0;
    padding: 40px 30px;
    margin-top: -150px;
    background-color: white;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

</style>
