<%= render "shared/navbar" %>


<div id="confirmation-back">
  <p></p>
</div>

<div id="confirmation-holder">
<h1 class="text-center"> Tu Pedido </h1>
<div class="container formorders">
<%= render 'transfers/form' %>
</div>
</div>

<style>

</style>



