

.sabana-line{
    border-top: 1px solid black;
    margin-left: -2%;
    margin-right: 1.5vw;
  }

  .titulo2{
    color: #404040;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .pagination2{
    padding-left: 23%;
  }

    .categorybar a{
    color:white;
    padding: 10px;
    text-decoration: none;
    }

     .categorybar a:hover{
     color:black;
     background-color: white;
     padding-top: 30px;
     padding-bottom: 30px;
    }

    .categorybar{
    background-color: #1a1a1a;
     padding: 20px;
    // padding-left: 30px;
      margin-top: -11px;
    }

    .cartitas{
      padding: 20px;
    }



 @media screen and (max-width: 768px) {

    .categorybar{
     margin-top: -7px;

    }


  .filtersubcategory{
  margin-top:20px;
  }

.pagination{

}

}

.ultrac a{
  display:none !important;
}

 @media screen and (max-width: 768px) {
select#color.filter_opt{
  width: 81px;
}

select#size.filter_opt{
  width: 76px;
}

select#price.filter_opt{
  width: 88px;
}

.ultra a{
      padding-right: 5% !important;
      color: #c11111 !important;
      font-size: 12px !important;
}

.ultrac a{
  display:inline !important;
}

.ultrab{
  display:none;
  }

  .ultra{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 7px;
  }

  .pagination{
    padding-left: 35%;
  }
}

// IPHONE 5
@media screen and (device-aspect-ratio: 40/71) {
html {
    width: 109%;
}
}

// IPAD
@media screen and (device-aspect-ratio: 3/4) {
  html {
    width: 108%;
  }

  #navbar-primary.navbar-default .navbar-nav > li > a {
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-weight: 450;
    letter-spacing: 1px;
}

.navbar-collapse {
    margin-left: -3px;
    margin-top: 23px;
}

.navbar-nav {
    margin: 9.5px 22px !important;
    }
}


// ipad pro
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
  html {
    width: 108%;
  }
}

// lastnavbar

header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}

.navbar-nav {
    margin: 7.5px 0px;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 450;
    letter-spacing: 3px;
        }
    }
  }
}

      .filter_opt {
    width: 100px;
    margin: 3px;
  }

.titlebanner{
margin-top:5%;
  }

.bannerproducts{
margin-top:2%;
}


.product-image2{
height: 393px;

}

.indexbanner{
  margin-top: 0%;
}

.fa-searchengin{
font-size: 20px;
}



  @media screen and (max-width: 768px) {
  .left{
    display:none;
  }

.wrap{
  margin-bottom: 40%;
  height:auto !important;
  }

.product-grid2 .product-image2 img {
  width: 100%;
  height: auto;
}

.pagyy{
  margin-top: 37px;
}

.pagination {
    display: inline-block;
    padding-left: 26% !important;
}
}

.titulos {
font-weight: 700;
    letter-spacing: 0px;
}

  @media screen and (max-width: 768px) {
  .directions{
    display:none;
  }
}


// cart

  @media screen and (max-width: 768px) {
  .carritoimg span{
/*background-color: white;
    padding: 2%;
    margin-left: 14%;
    margin-right: 14%;
    border-radius: 20px;
    border-style: groove;
    border-color: black;
    box-shadow: 2px 3px;*/
      }
  }

@media screen and (max-width: 768px){
.carritoimg span {
    font-size: 10px !important;
    padding: 10px;
    padding-left: 0px;
}


.carritoimg{
    box-shadow: 0px 1px 4px black !important;
    border-radius: 10px;
    padding: 1%;
}

.carritoimg img{
  display: none;
}

ul.carritoimgspan{
  padding-inline-start: 8px;
}
}

.carritoimg{
    box-shadow: 0px 1px 2px black;
    padding: 20px;
border-radius: 20px;
}


  .pedidoslinks a{
    color:black;
  }



  // Category bar display

  .categorybarphone{
    display:none;
  }

    @media screen and (max-width: 768px) {
       .categorybarphone{
        display:inherit;
      }

      .categorybar{
        display:none;
      }
    }
