// Place all the styles related to the stock controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stk-label {
    width: 100px;
    display: inline-block;
}

.stk-size {
    width: 60px;
}

.stk-units {
    width: 40px;
    text-align: right;
}
