
<h1> All Products (delete after) </h1>
<!-- trytwofrontend -->
<div class="container-fluid">
    <div class="row">
  <% @products.each do |product| %>
        <div class="col-md-3">

            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#"><%= cl_image_tag product.photo %></a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to product.title, product %></a></h3>
                    <span class="price"><%= number_to_currency product.price %></span>
                </div>
            </div>
        </div>
   <% end %>


</div>
</div>
<hr>

</div>
</div>
