<%= render "shared/navbar" %>

<div class="container-fluid searching" style="background-color: #ebebeb;">
  <%= form_tag perform_products_search_path,
  method: :get, style:"width:600px;margin-top:30px;" do %>
      <%= text_field_tag "term", nil,
        style: "float:left",
        placeholder: "Busca el producto que tengas en mente...",
        autofocus: "",
        style: "width:500px;" %>

      <%= submit_tag "Buscar", style:"float:right;width:95px;" %>
    <% end %>
</div>


<style>

input#term{
  padding-left: 20px;
  border-radius: 20px;
}

.searching{
    background-color: #ebebeb;
    padding-bottom: 17% !important;
    padding-left: 24%;
    padding-top: 10%;
  }


  @media screen and (max-width: 768px) {
.searching{
    background-color: #ebebeb;
    padding-bottom: 5% !important;
    padding-left: 5%;
    padding-top: 10%;
  }
input#term{
    width: 290px !important;
}

input[type="submit"]{
  width: 195px;
    margin-top: 31px;
}

  }

</style>
